{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-6 offset-3 jumbo-color my-5 rounded">
        <h3 class="text-warning py-4"> Dashboard/ Add Post </h3>
        <form action="" method="POST" novalidate>
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add" class="btn btn-success mb-4">
            <a href="{% url 'dashboard' %}" class="btn btn-danger mb-4"> Cancel </a>
        </form>
    </div>
{% endblock content %}